@keyframes fallFromAbove {
    0%{
        transform:translateY(-200%);
        opacity:0;
    }

    100%{
        transform:translateY(0);
        opacity: 1;
    }
    
}

@keyframes pulsate{
    0%{
        transform:scale(1);
        opacity:1;
        box-shadow: 0 0 10px #F8922A;
    }
    50%{
        transform:scale(1.1);
        opacity:0.9;
        box-shadow: 0 0 20px #F8922A;
    }
    100%{
        transform:scale(1);
        opacity:1;
        box-shadow: 0 0 10px #F8922A;
    }
}

.pulsate{
    animation: pulsate 1.5s infinite ease-in-out;
}

.fade-down1{
    animation:fallFromAbove 500ms ease-out;
}

.fade-down2{
    animation:fallFromAbove 1200ms ease-out;
}
.fade-down3{
    animation:fallFromAbove 1000ms ease-out;
}
.fade-down4{
    animation:fallFromAbove 1250ms ease-out;
}
